body {
  background-image: url(BG1.jpg);
}

.container {
  width: 20%;
  margin: 100px auto;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  /* Rounded corners */
  background-color: #fff;
  /* White background */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Shadow for depth */
}

h2 {
  color: #555555;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
button {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 260px;
  background-color: #555555;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #000000;
}

p {
  margin-top: 20px;
  font-size: 14px;
}

a {
  color: #555555;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}